.detail-body {
  height: 800px;
  background: $background-grey;
}

.detail-header-section {
  height: 204px;
  width: 851px;
  margin: auto;
}

.cover-info {
  display: flex;
}

.cover-full-name {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  left: auto;
  top: auto;
  margin-top: 150px;
  margin-left: 210px;
  width: 100%;
}

.profile-pic {
  position: absolute;
  height: 168px;
  width: 168px;
  left: auto;
  top: auto;
  margin-top: 60px;
  margin-left: 20px;
  border: 3.5px solid white;
  border-radius: 3px;
}

.header-subsection {
  display: flex;
  flex-direction: column;
}

.profile-navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 55px;
}
