.detail-body {
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  background: $background-grey;
}

.detail-header-section {
  height: 204px;
  width: 851px;
  margin: 0 auto;
}

.profile-navbar {
  background-color: white;
  height: 55px;
  width: 851px;
  margin: 0 auto;
}

.cover-info {
  display: flex;
  position: relative;
  height: 205px;
}

.cover-full-name {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  left: auto;
  top: auto;
  margin-top: 150px;
  margin-left: 210px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-pic {
  position: absolute;
  height: 168px;
  width: 168px;
  left: auto;
  top: auto;
  margin-top: 60px;
  margin-left: 20px;
  border: 3.5px solid white;
  border-radius: 3px;
}

.profile-pic-inner {
  height: 168px;
  width: 168px;
  object-fit: cover;
}

.cover-pic {
  height: 204px;
  width: 851px;
  object-fit: fill;
}

.profile-navbar-tabs {
  display: flex;
  justify-content: flex-start;
  margin-left: 25%;
  height: 0;
}

.profile-navbar-tab {
  margin-top: 14px;
  margin-right: 20px;
}

.about-section {
  display: flex;
  flex-direction: column;
  width: 851px;
  margin: 25px auto;
  border: 1px solid $btn-border-grey;
}

.about-subsection {
  display: flex;
}

.about-tab {
  flex-basis: 28%;
  background: white;
  min-height: 400px;
  border-right: 1px solid $btn-border-grey;
  padding: 12px 4px 12px 16px;
}

ul.about-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 72%;
  background: white;
  min-height: 400px;
  padding: 20px 24px;
}

li.about-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $background-grey;
  padding-bottom: 30px;
}

li.about-item:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}

.about-header {
  color: #4b4f56;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  background: #f6f7f9;
  padding: 15px;
  border-bottom: 1px solid $btn-border-grey;
}

i.user-icon {
  color: grey;
  margin-right: 10px;
  font-size: 25px;
}

.about-header-subsection {
  margin: 10px 0 0 10px;
}

.selected-about-tab {
  border-left: 3px solid #365899;
}

.profile-action-btn {
  position: absolute;
  height: 24px;
  width: 103;
  border: 1px solid black;
  text-decoration: none;
  top: 160px;
  right: 15px;
  background: white;
  font-size: 13px;
  font-weight: bold;
  color: #4b4f56;
  padding: 5px 7px 0 5px;
  border-radius: 3px;
}

i.friend-action-icon {
  padding: 0 4px;
}

i.icon {
  font-size: 14px;
  padding: 0 5px;
}

i.gender-icon {
  font-size: 14px;
  padding: 0 7px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  width: 321px;
  height: 165px;
  background: white;
}

.timeline-section {
  display: flex;
  margin: 20px auto;
  width: 851px;
}

.wall-feed-section {
  flex-basis: 62%;
}

i.header-icon {
  color: white;
  padding: 5px;
  margin: 3px;
  border-radius: 50%;
}

i.globe {
  background: $btn-background;
  font-size: 17px;
}

i.friends {
  background: #e91e63;
  font-size: 15px;
}

.info-header {
  display: flex;
  padding-bottom: 7px;
  border-bottom: 1px solid $btn-border-grey;
  margin: 8px 9px 5px 9px;
}

.friends-header {
  display: flex;
  padding-bottom: 4px;
  margin: 8px 9px 5px 9px;
}

.panel-title {
  font-size: 18px;
  margin: 4px 0 0 5px;
}

.info-item {
  margin: 10px 12px;
}

.friends-panel {
  width: 321px;
  min-height: 0;
  margin: 20px 0 0 0;
  background: white;
}

.panel {
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
}

.friends-block {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
}

.friend-picture {
  position: relative;
  width: 95px;
  height: 95px;
}

.friend-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 56px 0 0 6px;
  font-size: 12px;
  color: black;
}

.friend-square {
  display: flex;
  margin: 0 0 7px 7px;
}
