.wall-feed-container {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
}

.post-form {
  width: 518px;
  margin: 0 0 0 10px;
  border: 1px solid #e5e5e5;
}

.post-input {
  width: 450px;
  height: 56px;
  border: none;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.post-title {
  display: flex;
  height: 35px;
  border-bottom: 1px solid #e5e5e5;
  background: #f6f7f9;
}

textarea {
  resize: none;
}

i.pencil-icon {
  font-size: 19px;
  margin: 8px 6px 0 10px;
}

.post-title-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}

.form-section {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.author-pic {
  height: 40px;
  width: 40px;
  margin: 10px;
  object-fit: cover;
}

.author-pic-section {
  height: 60px;
  width: 70px;
  background: white;
}

.post-form-footer {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  background: white;
}

input.submit-btn {
  height: 27px;
  width: 62px;
  margin: 8px 10px 0 0;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  cursor: pointer;
  background: $btn-background;
  border: $btn-background;
}

.feed-section {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 0 10px;
}

.feed-item {
  width: 518px;
  background: white;
  margin: 20px 0 0 0;
  border: 1px solid #e5e5e5;
}

.feed-item-body {
  display: flex;
}

.feed-item-info {
  display: flex;
  flex-direction: column;
  margin: 11px 0 0 0;
}

.feed-user-name {
  text-decoration: none;
  font-weight: bold;
  color: #365899;
}

.feed-time-ago {
  font-size: 13px;
}

.feed-body {
  margin: 0 15px 10px 10px;
  min-height: 25px;
  font-size: 20px;
}

.comment-section {
  list-style: none;
  border-top: 1px solid #e1e2e3;
  background: #f6f7f9;
}

.comment-header {
  display: flex;
}

.comment-pic {
  width: 35px;
  height: 35px;
  margin: 10px 8px 10px 13px;
  object-fit: cover;
}

.comment-top-section {
  display: flex;
}

.comment-name-link {
  text-decoration: none;
  margin: 11px 4px 0 0;
  color: #365899;
  font-size: 15px;
  font-weight: bold;
}

.comment-body {
  margin: 11px 5px 0 0;
}

.comment-form-container {
  display: flex;
}

.comment-form {
  margin-top: 10px;
}

::-webkit-input-placeholder {
  font-size: 15px;
  padding: 0 0 0 2px;
}

.comment-input {
  border: 1px solid $background-grey;
  height: 24px;
  width: 445px;
  padding: 7px 0 0 3px;
  font-size: 15px;
}
