.home-body {
  display: flex;
  min-height: 1000px;
  background: $background-grey;
}

.panel-profile-link {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 14px;
  width: 175px;
  height: 30px;
  padding: 3px;
  box-sizing: border-box;
}

.panel-profile-link:hover {
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
  border-radius: 2px;
}

.panel-profile-pic {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.panel-profile-btn {
  display: flex;
}

.home-section-left {
  display: flex;
  width: 700px;
  margin-left: 14.9%;
  margin-top: 13px;
}

.panel-profile-name {
  margin: 2px 0 0 2px;
}

.news-feed-container {
  display: flex;
  flex-direction: column;
}

.home-panel-links {
  display: flex;
  flex-direction: column;
}

i.news-feed-icon {
  font-size: 19px;
  margin: 3px 3px 0 0;
}

i.github-icon {
  font-size: 23px;
  margin-right: 3px;
}

i.linkedin-icon {
  font-size: 22px;
  margin-right: 3px;
}

.panel-link-select {
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
  border-radius: 2px;
}

.birthday-section {
  height: 40px;
  width: 265px;
  margin: 0 0 10px 10px;
  background: white;
}

i.gift-icon {
  color: #ea4d9b;
  margin: 1px 5px 0 5px;
}

.bday-user-name {
  font-size: 13px;
  color: #365899;
  font-weight: bold;
  text-decoration: none;
}

.birthday-layout {
  display: flex;
  padding: 12px 0 0 5px;
}

.bday-text {
  font-size: 11px;
  color: grey;
  margin-top: 2px;
}

.adv-section {
  height: 490px;
  width: 265px;
  margin: 15px 0 10px 10px;
  background: white;
}

.img-ad {
  height: 155px;
  width: 250px;
  object-fit: contain;
  margin: 0 0 0 7px;
}

.create-ad {
  text-align: right;
  padding: 5px 7px 0 0;
  font-size: 13px;
  color: #365899;
}

.title-adv {
  font-size: 14px;
  font-weight: bold;
  color: #365899;
}

.desc-adv {
  font-size: 13px;
  color: #90949c;
}

.body-adv {
  padding: 0 5px 5px 5px;
}

.adv-link {
  text-decoration: none;
}
