.sign-up-form {
  width: 399px;
  margin-top: 50px;
}

.sign-up-inner {
  display: flex;
  flex-direction: column;
}

.landing-background {
  background-color: #edf0f5;
  height: 560px;
}

.sign-up-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2px;
}

.sign-up-tag {
  font-size: 19px;
  margin-bottom: 15px;
}

.input-box-small {
  font-size: 18px;
  height: 35px;
  width: 180px;
  margin-right: 7px;
  border-radius: 5px;
  border: 1px solid $btn-border-grey;
  padding-left: 10px;
}

.input-box {
  font-size: 18px;
  height: 35px;
  width: 380px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid $btn-border-grey;
  padding-left: 10px;
}

.select-dropdown {
  font-size: 13px;
  height: 30px;
  width: 70px;
  border: 1px solid $btn-border-grey;
  background-color: white;
  text-align: center;
  margin-top: 3px;
}

.name-input {
  display: flex;
  justify-content: flex-start;
}

.margin-top {
  margin-top: 15px;
}

.birthday-dropdown {
  display: flex;
}

.radio-gender {
  display: flex;
  font-size: 18px;
  margin-right: 20px;
}

.radio-section {
  display: flex;
}

.radio-select {
  margin-top: 6px;
}

.btn-create {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  font-size: 19px;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 7px;
  margin-top: 20px;
}

.copy-column {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.copy-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 400px;
}

.copy-list {
  display: flex;
  margin-top: 35px;
}

.copy-bold {
  font-size: 17px;
  font-weight: bolder;
  margin: 8px;
}

.copy-light {
  font-size: 17px;
  margin-top: 8px;
}

.error {
  list-style: none;
  color: $error;
}
