.signed-in-nav {
  height: 42px;
  background-color: $primary;
  color: black;
  background-image: linear-gradient($primary-light, $primary 50%);
  border-bottom: 1px solid $navbar-bottom;
}

i.icon-small {
  font-size: 20px;
  margin-left: 15px;
}

i.icon-normal {
  font-size: 30px;
  color: white;
}

.dropdown {
  position: absolute;
  height: 35px;
  width: 170px;
  background-color: white;
  border: 1px solid $btn-border-grey;
  right: 20%;
  top: 43px;
  z-index: 1;
}

.nav-section-right {
  display: flex;
  padding-top: 3px;
}

.active-section {
  display: flex;
  justify-content: space-around;
  padding-top: 6px;
  margin: auto;
}

.menu-section {
  display: flex;
  flex-direction: column;
}

.pipe {
  color: #1D2951;
  margin-left: 15px;
}

.home-btn {
  text-decoration: none;
  color: white;
}
