.signed-out-nav {
  height: 82px;
  background-color: $primary;
  color: black;
  background-image: linear-gradient($primary-light, $primary 50%);
  border-bottom: 1px solid $navbar-bottom;
}

.log-in-btn {
  color: white;
  background-color: $primary;
  border: 1px solid $btn-border;
  margin-top: 17px;
  margin-right: 10px;
}

.sign-in-form {
  display: flex;
}

.form-header {
  color: white;
  font-size: 12px;
}

.input-form {
  margin-right: 14px;
  border: 1px solid $btn-border;
  height: 20px;
  width: 145px;
}

.buttons-row {
  display: flex;
  justify-content: space-around;
}

.error {
  list-style: none;
  color: $error;
  margin-left: -40px;
}

.error-border-log-in {
  border: 2px solid $error;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-family: 'Klavika';
  font-size: 40px;
  margin-top: 3px;
}
